html.overflow_hidden {
    overflow: hidden;
}

.modal_backdrop,
.page_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    overflow: hidden;
}

.modal_backdrop:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.modal_backdrop.dark:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_backdrop.active:after,
.page_modal.show .modal_inner {
    opacity: 1;
}

.page_modal {
    z-index: 9999;
    pointer-events: none;
}

.page_modal.center {
    text-align: center;
}

.modal_dialog {
    max-width: 800px;
    margin: 25px auto;
}

.modal_inner {
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    pointer-events: all;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition-delay: 0.25s;
    opacity: 0;
    position: relative;
}

.modal_inner>div {
    padding-left: 25px;
    padding-right: 25px;
}

.modal_header,
.modal_body {
    padding-top: 20px;
}

.modal_header h2 {
    margin-bottom: 0;
}

.modal_body {
    padding-bottom: 30px;
}

.modal_closeBtn {
    pointer-events: all;
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    cursor: pointer;
}

.modal_closeBtn.dark {
    background-color: var(--white);
    color: var(--black);
}

.modal_closeBtn:hover {
    color: var(--warning);
}

.modal_closeBtn svg {
    width: 100%;
    height: 100%;
}

.modal_body video {
    width: 100%
}

.video_box {
    margin-bottom: 25px;
}

.desc {
    margin-top: 20px;
}